body {
    max-width: 60em;
    margin: 0 auto;
}

.site{
    max-width: 60em;
    margin: 0 auto;
}
/* .site-branding {
    display: inline-block;
    width: 50%;
} */

/* .site-header nav {
    display: flex;
    vertical-align: top;
} */

/* .site-main {
    display: inline-block;
    width: 70%;
}

.site-sidebar {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.entry {
    padding: 0 1.5em
} */