<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }} </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/_scss/fontawesome/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
</head>
<body>
    <div class="site">
        <header class="site-header">

            <div class="site-branding">
                    <h1>Рибарник Камено <img src="/CSS-Advanced-Project/site-logo.jpg" alt="site-logo"style="max-width: 130px;"></h1>
                    <!-- <p>{{ site.description }}</p> -->
            </div>
            
            {% include navigation.html %}
        </header>

        <main class="site-main">
            {{ content }}
        </main>

        <footer class="site-footer">
            <p>{{ site.title }} &copy; All rights reserved</p>
        </footer>
    </div>
</body>
</html>